* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #ffffff
}

aside {
    width: 15vw;
    height: 100vh;
    background-color: #3d6eafe1;
}
h1{
    display: flex;
    justify-content:center;
}

ul {
    list-style: none;
    /* padding: 20px; */
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}

ul > li {
    margin: 10px;
    padding: 10px;
    /* font-weight: bold; */
}


main {
    width: 80vw;
    height: 100vh;
    padding: 15px;
}

table{
    width: 100%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(95, 150, 245, 0.729);
}
table > tbody > tr > td {
    text-align: center;
     margin: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}

td {
    text-align: center;
}

.icone{
    width: 20px;
}