@import url('/global/estrutura.css');

table{
    width: 100%;
}
table > tbody > tr > td {
    text-align: center;
   margin: 10px;
}

.icone{
    width: 20px;
}
button{
    background: none;
     border: none;
}
button:hover{
    cursor: pointer;
}
.cadastrar{
    padding: 10px;
    margin: 10px;
    font-size:15px;
    border: 1px solid rgb(95, 238, 95);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:10px;
    
}
.cadastrar:hover{
    background-color: rgb(122, 253, 122);
    color:rgb(26, 4, 4);
    
}
