  .inputUser{
    padding: 10px;
    }
    .modelo{
    display: none;
    visibility: hidden;
    }
    .model{
      display: none;
      visibility: hidden;
    }
   
    img{
        width:15px;
        height:15px;
    }
    .telefone:hover{
  background-color: rgba(153, 231, 37, 0.5);
    } 
  .modal{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width:100vw;
     height:100vh;
     background-color:rgba(0, 0, 0, 0.034);
  }   
 .form-model{
  
    width:15%;
    height:15%;
    background-color:#ffff;
    border-radius:30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:60px 120px;

}

h1{
  font-size: 20px;
  background-color: rgba(221, 131, 109, 0.568);

}