@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* body > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 40px;
} */
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
ul > li{
    float: left;
    margin:0 15px;
    color: #fff;
    transition: background  1s;
}
ul > li:hover, focus{
    background-color:#6acb95;
    cursor: pointer;
    border-radius: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:#25774a;
    width: 100%;
    height: 90px;
}
#logo{
    width: 65px;
}
