*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .item-admin{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
 }
 #img-item{
    /* padding: 15px; */
    width: 9vh;
    height: 8vh;
 }
 #img{
    width: 7vh;
    height: 7vh;
 }
 .input{
     display:flex;
      width:15%;
      height: 10%;
 }
