*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-carinho{
    width: 80vw;
    height:10vh;
    border: 1px solid gray;
    border-radius:15px;
    display: flex;
    margin: 15px;
    align-items:center;
    justify-content: center;
    padding: 0 15px;
}

#img-item{
width: 8vh;
height:6vh;
}
.item-carinho > button > img{
    width: 32px;
}
.modelo{
    visibility: hidden;
    display: none;
}