@import url('/global/estrutura.css');
h1{
   text-align: center;
}
table{
    width: 40%;
    margin: 30px;
}
table > tbody > tr > td {
    text-align: center;
     margin: 10px;
     /* padding: 20px; */
}

button{
     background: none;
     border: none;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{ 
    color: #fcfcfc;
    border: 2px solid rgb(95, 238, 95);
    border-radius:5px;
}