* {
    margin: 0;
    padding: 0;
}



#p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 26px;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: pink;
} 

table,
th,
td {
    border: 2px solid rgb(45, 5, 38);

}

th,
td {
    padding: 10px;
    text-align: center;
    width: 60px;

}

table{
    width: 50vw;
  
}




.tabela2 {
    width: 50vw;
    margin: 10px;
  
}

#credito {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 26px;
}

#debito {
    display: flex;
    justify-content: end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 26px;
}

/*  */
/* th{
    font-weight: bold;
    } */
/* .model{
    display: none;
    visibility: hidden;
} */