body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(23, 136, 201), rgb(17, 54, 71));
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(size-box\ Vendas.png);
    padding: 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 10%;
  
}
.box{
    background-color: rgba(69, 65, 65, 0.423);
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
fieldset{
    border-radius: 1 solid white;
   
}